body {
    background-color: #354BC3;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

.p20 {
    font-size: 20px;
}

.p26 {
    font-size: 26px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.metamask {
    margin: auto;
    width: 180px;
    border: 2px solid #0F2288;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #FF992A;
    cursor: pointer;
}

.staking {
    width: 500px;
    height: 425px;
    border: 2px solid #0F2288;
    border-radius: 10px;
    background-color: #5467CE;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.top {
    margin-top: 55px;
}

.form {
    margin-top: 35px;
}

.form * {
    margin: 5px;
}

.button {
    width: 110px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: #FFE42A;
    border-radius: 5px;
    cursor: pointer;
}

input {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #0F2288;
    color: #7B8ADD;
    width: 215px;
    padding: 10px;
}

input:focus {
    outline: none!important;
}

.signout {
    margin-left: 15px;
}

#approve {
    width: 235px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid blue;
    border-bottom: 6px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (orientation: portrait) {
    .p20 {
        font-size: 40px;
    }

    .p26 {
        font-size: 52px;
    }

    .metamask {
        width: 300px;
        height: 60px;
        line-height: 60px;
    }

    .staking {
        width: 80%;
        height: 800px;
    }

    .top {
        margin-top: 60px;
    }

    .button {
        width: 240px;
        height: 90px;
        line-height: 90px;
        margin: 25px;
    }

    .form {
        margin-top: 100px;
    }

    input {
        width: 510px;
        height: 45px;
        line-height: 45px;
        font-size: 30px;
    }

    #approve {
        width: 530px;
    }

    .loader {
        border: 9px solid #f3f3f3;
        border-top: 9px solid blue;
        border-bottom: 9px solid blue;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        animation: spin 2s linear infinite;
        margin: auto;
        margin-top: 0px;
    }
}
